<div>
   <h2>Por pais</h2>

   <hr>

   <div class="row">
      <div class="col">
         <app-pais-input 
            placeholder="Buscar pais" 
            (onEnter)="buscar($event)" 
            (onDebounce)="sugerencias($event)">
         </app-pais-input>
      </div>
   </div>

   <ul *ngIf="mostrarSugerencias" class="list-group">
      <li *ngFor="let pais of paisesSugeridos" 
         class="list-group-item list-group-item-action">
         <a class="nav-link"
            [routerLink]="['/pais', pais.alpha2Code]" >
            {{pais.name }}
         </a>
      </li>
      <li
         class="list-group-item list-group-item-action"
         (click)="buscarSugerido(termino)">
         <a class="nav-link">
            Buscar "{{termino}}"
         </a>
      </li>
   </ul>

   <hr>
</div>

<div
   *ngIf="error"
   class="alert alert-danger"
>
   No se encontro ningun resultado con el termino {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row" >

   <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
   </div>
</div>