<h2>Por pais</h2>

<hr>

<div class="row">
   <div class="col">
      <app-pais-input placeholder="Buscar capital" (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)"></app-pais-input>
   </div>
</div>

<hr>

<div
   *ngIf="error"
   class="alert alert-danger"
>
   No se encontro ningun resultado con el termino {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row" >

   <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
   </div>
</div>