<div class="row container mt-4">
  <div class="col-3">
    <app-sidebar></app-sidebar>
    
  </div>

  <div class="col">
    <!-- renderiza este componente en este segmento -->
    <router-outlet></router-outlet>
  </div>
</div>