<h2>Busquedas</h2>

<hr>

<ul class="list-group">
   <li
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      class="list-group-item"
   >Buscar pais</li>

   <li
      routerLink="region"
      routerLinkActive="active"
      class="list-group-item"
   >Buscar region</li>

   <li
      routerLink="capital"
      routerLinkActive="active"
      class="list-group-item"
   >Buscar capital</li>
</ul>