<h3>
   Buscar por region

   <small>{{regionActiva | titlecase}}</small>
</h3>

<hr>
<!-- [ngClass]="{
   'btn-primary' : regionActiva === region,
   'btn-outline-primary' : regionActiva !== region
}" -->
<div class="row">
   <div class="col">
      <button
         *ngFor="let region of regiones"
         [class]="getClaseCSS(region)"
         (click)="activarRrgion(region)"
      >{{region | titlecase}}</button>
   </div>
</div>
<!-- Operador terminario -->

<!-- [ngClass]="{
  clases de css: true          
}" -->

<div *ngIf="paises.length > 0" class="row" >

   <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
   </div>
</div>